@import '@fontsource/lora';
@import '@fontsource/roboto-mono';
@import '@fontsource/titillium-web';

body {
  margin: 0;
  font-family: 'Titillium Web', Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
