name: Setup CI
description: Sets up Node.js, PNPM, and installs dependencies for CI workflows

runs:
  using: composite
  steps:
    - name: Install PNPM
      uses: pnpm/action-setup@v4
      with:
        version: 9.12.2
        run_install: false

    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: "pnpm"

    - name: Install dependencies
      shell: bash
      run: pnpm install --frozen-lockfile
