name: Release

on:
  push:
    branches:
      - main
      - next

env:
  CI: true

permissions:
  pull-requests: write
  contents: write
  packages: write
  id-token: write

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: ./.github/actions/ci-setup

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm ci:version
          publish: pnpm ci:publish
          commit: "chore: update versions"
          title: "chore: update versions"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push tags after publish
        if: steps.changesets.outputs.published == 'true'
        run: git push --follow-tags
